@model List<Ingredients>
@{
    ViewData["Title"] = "Konfigurator";

    var groupedIngredients = Model.GroupBy(i => i.gruppe);
}



<form method="post" action="@Url.Action("addToCart", "Cart")">
    <div class="configurator">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-4 configurator__sidebar sidebar">
                    <div class="container">
                        <div class="row">
                            @foreach (var group in groupedIngredients)
                            {
                                <div class="sidebar__section sidebar__@group.Key.ToLower()">
                                    <div class="col-12 sidebar__headline">@group.Key</div>

                                    @foreach (var ingredient in group)
                                    {
                                        <div class="col-12 col-lg-6 sidebar__item-col">
                                            <p class="sidebar__item" name="@ingredient.name.ToLower()">@ingredient.name</p>
                                            <input type="hidden" id="@ingredient.name.ToLower()Input" name="@ingredient.name.ToLower()" value="false">
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>

                </div>

                <div class="col-12 col-lg-8 configurator__content">
                    <div class="configurator__image-container">
                        <div class="configurator__image">
                            <div class="configurator__pizza">
                                <img class="pizza_base" src="Bilder/PizzaMockup.png" />

                                <div class="configurator__toppings">
                                    <img name="schinken" src="Bilder/schinken.png" />
                                    <img name="salami" src="Bilder/salami.png" />
                                    <img name="tomaten" src="Bilder/tomaten.png" />
                                    <img name="sucuk" src="Bilder/sucuk.png" />
                                    <img name="pepperoni" src="Bilder/pepperoni.png" />
                                    <img name="oliven" src="Bilder/oliven.png" />
                                    <img name="mozzarella" src="Bilder/mozzarella.png" />
                                    <img name="schafskäse" src="Bilder/schafskäse.png" />
                                    <img name="parmesan" src="Bilder/parmesan.png" />
                                </div>

                            </div>

                            <div class="configurator__background-yellow">
                                <img class="rotating" src="Bilder/star.png" />
                            </div>

                            <div class="configurator__fresco">
                                <img class="scaleUp" src="Bilder/Fresco.png" />
                            </div>
                        </div>
                    </div>

                    <partial name="/Pages/CartInformation.cshtml" />



                    <div class="configurator__price">
                        <button type="submit" value="Submit" class="configurator__price-button">
                            <p class="button__text">11,90€</p>
                            <div class="button__cart">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                                </svg>
                            </div>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
